.dark-logo{
    margin-left: 5px;
}
@media screen and (max-width:480px){.m1{margin-bottom:10px}}
.pagination > li {
    cursor: pointer
}

.pagination > li.break {
    cursor: auto
}

.pagination {
    margin: 0 auto;
}