#orderInfo .item > span[data-name], #orderInfo .item > img[data-name] {
    display: block;
}

#orderInfo .item > span.title {
    font-weight: 600;
}

#orderInfo {
    margin-top: 6rem;
}

#orderInfo p.header {
    font-weight: 600;
    font-size: 16px;
}

.ml-20 {
    margin-left: 20px;
}

.QrCodeImgPreview, .imgPreview {
    width: 128px;
    height: 128px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: dashed 2px;
    line-height: 7.5rem;
    cursor: pointer;
}

.imgPreview {
    width: 100%;
    margin-bottom: 10px;
}

.mr15 {
    margin-right: 15px;
}

.select2-container--default .select2-selection--single{
    border-radius: inherit;
    height: 35px;
    padding-top: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 4px;
}

.select2-dropdown {
    border-radius: inherit;
}
#signQrCode{
    border: medium none;margin-top: -28px;width: 200px;height: 200px;
}
.sign-tips-div{display: none;}